body {
	background: #204a87;
	color: #aaa;
	width: 600px;
	margin: 0 auto;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 12pt;
}

h1 {
	color: #fff;
}

h2 {
	color: #ddd;
	font-size: 100%;
	font-weight: bold;
	margin: 0;
}

a {
	color: #729fcf;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

a.demoLink {
	display: block;
	padding: 8px;
	margin: 8px 0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: #3465a4;
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0.25), rgba(255,255,255,0));
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0.25), rgba(255,255,255,0));
	background-image: -o-linear-gradient(top, rgba(255,255,255,0.25), rgba(255,255,255,0));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.25), rgba(255,255,255,0));
	background-image: -webkit-gradient(linear, top left, bottom left, from(rgba(255,255,255,0.25)), to(rgba(255,255,255,0)));
	background-image: linear-gradient(top, rgba(255,255,255,0.25), rgba(255,255,255,0));
	-moz-box-shadow: 0 0 8px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.25);
	box-shadow: 0 0 8px rgba(0,0,0,0.25);
	color: #fff;
	color: rgba(255,255,255,0.5);
	text-align: center;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	text-shadow: 0 1px 1px rgba(0,0,0,0.25);
}

a.demoLink > .title {
	color: #fff;
	font-size: 150%;
}

a.demoLink > .composer {
	
}

a.demoLink:hover {
	background-color: #4475b4;
	-moz-box-shadow: 0 0 32px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 0 32px rgba(0,0,0,0.25);
	box-shadow: 0 0 32px rgba(0,0,0,0.25);
}